
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html{
    scroll-behavior: smooth;
}
body{
  padding: 0%;
  margin: 0%;
  background-color: white;
  overflow-x: hidden;
}
.company-name{
  font-size: 90px;
  margin-left: 30%;
  margin-top: 8%;
  font-family: poppins;
  text-shadow: 2px 1px 5px rgb(234, 255, 229);
}
.searchBox {
  display: flex;
  max-width: 450px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #ffffff;
  border-radius: 50px;
  position: relative;
  margin-left: 39%;
  margin-top: 4%;
  height: 50px;  
  box-shadow: 0px 0px 20px rgb(216, 216, 216);
  opacity: 0.5; 
}

.searchButton {
  color: rgb(0, 0, 0);
  position: absolute;
  right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: none;
  border: 0;
  display: inline-block;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 12px;
  padding: 24px 46px 24px 26px;
}

.book{
  margin-left: -5px;
  width: 430px;
  height: 230px;
  opacity: 80%;
  z-index: -10;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.search-button{
  background-color: rgb(255, 255, 255);
  height: 40px;
  width: 40px;
  border-radius: 20px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px rgb(216, 216, 216);
  margin-left: 15px;
}
.nav{
  margin-top: 8%;
  position: fixed;
  margin-left: 5%;
}
.nav div{
  width: 40px;
  background-color: none;
  margin-top: 20px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  border-radius: 10px;
  color: black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.nav a{
  padding-top: 50px;
  font-size: 15px;
}

.photo{
  margin-top: 70px;
  margin-left: 15%;
  width: 500px;
}
.para{
  width: 700px;
  font-family: poppins;
  font-size: 20px;
  margin-top: -11%;
  margin-left: 48%;
}
.scrolling{
  width: 80%;
  height: 200px;
  margin-top: 5%;
  margin-left: 10%;
}
.book1{
  display: flex;
}
.right-container {
  margin-left: 35%;
  width: 280px;
  height: 230px;
  background: rgba(97, 97, 97, 0.9);
  padding: 20px;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.book-1 :hover {
    height: 230px;
}
.book-1:hover .right-container {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.right-container h1{
  font-family: poppins;
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  margin-top: 40px;
  opacity: 1;
}
.right-container h2{
  font-size: 18px;
  font-family: poppins;
  font-weight: 300;
  color: #fff;
  opacity: 1;
}
.popular{
  margin-left: 12%;
  margin-top: 8%;
  background-color: none;
  width: 80%;
  margin-bottom: 5%;
  height: 350px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.popular-2{
  margin-left: 12%;
  margin-top: 0%;
  background-color: none;
  width: 80%;
  margin-bottom: 5%;
  height: 350px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.popular-3{
  margin-left: 12%;
  margin-top: 0%;
  background-color: none;
  width: 80%;
  margin-bottom: 5%;
  height: 350px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.popular-heading{
  margin-left: 50px;
  padding-top: 30px;
  font-family: poppins;
  font-weight: 350;
  font-size: 20px;
}
.book-1{
  margin-top: 60px;
  width: 430px;
  top: 120px;
  height: 230px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  overflow: hidden;
  transition: all 0.4s ease;
  margin-left: 45px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-border-radius: 10px;
}
.book-1 img{
  margin-left: -240px;
  margin-top: -25px;
}
.popular img , .popular-2 img , .popular-3 img{
  width: 200px;
  height: 300px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: -58%;
  object-fit: cover;
}
.book-1-name{
  margin-left: 210px;
  margin-top: -240px;
  font-family: "Zain", serif;
  font-weight: 400;
  font-size: 30px;
}
.book-1-name b{
  display: none;
}
.book-1-author{
  margin-left: 210px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: -20px;
}
.book-1-kind{
  margin-left: 210px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 0px;
}
.book-1-readnow{
  margin-left: 210px;
  height: 40px;
  width: 150px;
  border: none;
  background-color: rgb(71, 71, 71);
  color: white;
  border-radius: 10px;
  font-size: 12px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.book-1-readnowblack{
  margin-left: 210px;
  height: 40px;
  width: 150px;
  border: none;
  background-color: white;
  color: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.scroll-frame {
  width: 100%;
  height: 350px;
  border: 2px solid #444;
  padding: 10px;
  border: none;
  scroll-behavior: smooth;
  overflow-x: scroll; 
  overflow-y: hidden;
  white-space: nowrap; 
  scrollbar-width: none;
}
.scroll-frame h1{
  font-family: poppins; 
  font-weight: 300; 
  font-size: 20px; 
  margin-bottom: 40px;
}
.scroll-frame img{
  width: 150px;
  height: 236.02px;
  margin-left: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  animation: scroll-x 15s linear infinite;
  -webkit-animation: scroll-x 15s linear infinite;
}
.sub-heading{
  margin-left: 52%;
  margin-top: -5%;
  font-family: poppins;
}
.rate{
  color: #000000;
  margin-top: -7%;
  margin-left: -24%;
  padding-right: 14%;
}
.rating{
  margin-top: 8%;
  margin-left: 10%;
  
}
  a {
    color: inherit;
    text-decoration: none;
  }

footer {
    position: relative;
    background: none;
    color: rgb(0, 0, 0);
    padding: 3rem 2rem 2rem 2rem;
    overflow: hidden;
    font-family: roboto;
    height: 180%;
    margin-top: 10%;
    border-top: 1px solid black;
  }

   for layout */
  .footer-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 5rem;
    justify-content: space-between;
  }
.company-footer{
  font-family: poppins;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 50px;
}
.company-usage{
  margin-left: 12.8%;
  margin-top: -2.4%;
  font-family: poppins;
  font-size: 12px;
}
  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 4rem;
    flex: 1 1 58%;
    min-width: 280px;
    margin-top: 4%;
    margin-left: 8%;
    font-family: roboto;
  }
  .footer-column {
    min-width: 120px;
  }
  .footer-column h3 {
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 1.1rem;
  }
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer-column ul li {
    margin-bottom: 0.7rem;
    font-weight: 400;
    font-size: 0.92rem;
    cursor: pointer;
    transition: color 0.25s ease;
  }
  .footer-column ul li:hover {
    color: #d49400;
  }

  .icon-svg {
    width: 24px; height: 24px;
    fill: currentColor;
  }
  .footer-subscribe-contact {
    flex: 1 1 35%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    margin-left: 65%;
    margin-top: -15%;
    font-family: roboto;
    width: 300px;
  }
  .subscribe-header {
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
  }

  .subscribe-form {
    display: flex;
    align-items: center;
    border: 1px solid #666;
    height: 40px;
    overflow: hidden;
    transition: border-color 0.3s ease;
    background: transparent;
    -webkit-transition: border-color 0.3s ease;
    -moz-transition: border-color 0.3s ease;
    -ms-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
}
  .subscribe-form:focus-within {
    border-color: #ffffff;
  }
  .subscribe-input {
    font-size: 1rem;
    font-weight: 400;
    border: none;
    background: transparent;
    color: rgb(0, 0, 0);
    width: 1110px;
    outline-offset: 3px;
    outline: none;
    outline-color: #d49400aa;
    margin-left: 5%;
  }
  .subscribe-input::placeholder {
    color: #000000;
    font-weight: 400;
  }
  .subscribe-button {
    background: none;
    color: #000000;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 0%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow:       0 0 3px #000000bb,      0 0 6px #ffffff96;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    -moz-transition: background-color 0.3s ease, color 0.3s ease;
    -ms-transition: background-color 0.3s ease, color 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease;
}
  .subscribe-button:hover {
    color: white;
    box-shadow:
      0 0 12px #fff;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .contact-title {
    font-weight: 700;
    font-size: 1.4rem;
  }
  .contact-item {
    display: flex;
    align-items: center;
    gap: 0.9rem;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}
  .contact-item:hover {
    color: #d49400;
  }
  .powered{
    padding-left: 80%;
    margin-top: 10%;
  }
  .powered a{
    color: #d49400;
  }
.rate{
  text-align: center;
  font-family: poppins;
  margin-top: -10%;
}
.rating {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.3rem;
  margin-right: 40%;
  margin-top: -1%;
  --stroke: #666;
  --fill: #ffc73a;
}

.rating input {
  appearance: unset;
}

.rating label {
  cursor: pointer;
}

.rating svg {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
  -webkit-animation: idle 4s linear infinite;
  -webkit-transition: stroke 0.2s, fill 0.5s;
  -moz-transition: stroke 0.2s, fill 0.5s;
  -ms-transition: stroke 0.2s, fill 0.5s;
  -o-transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
  -webkit-animation: idle 4s linear infinite, yippee 0.75s backwards;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
}

    @keyframes scroll-x {
      0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
      100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
}

    }
.copyright{
  margin-left: 38%;
  margin-top: 3%;
}
@media (max-width: 480px) {
  body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
  }
  .company-name {
    margin-left: 1%;
    font-size: 40px;
    margin-top: 12%;
  }
  .sub-heading{
    font-size: 15px;
    margin-left: 45%;
    margin-top: -10%;
  }
  .search-box input{
    margin-left: 15%;
    width: 180px;
    border-radius: 20px;
    margin-top: 12%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 10px;
  }
  .scroll-frame{
    margin-left: -5%;
    width: 330px;
  }
  .scroll-frame h1{
    font-size: 15px;
  }
  .scrolling{
    width: 330px;
  }
  .scroll-frame img{
    margin-left: 10px;
    width: 100px;
    height: 160px;
    border-radius: 5px;
    margin-top: -10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  .nav{
    display: flex;
    position: fixed;
    margin-top: 135%;
    margin-left: 0%;
    z-index: 1000;
    height: 150px;
    width: 450px;
    background-color: black;
  }
  .nav div{
    margin-left: 50px;
  }
  .nav div p{
    font-size: 18px;
    margin-top: 0px;
  }
  .popular{
    margin-top: 8%;
  }
  .popular-2{
    margin-left: 12%;
    margin-top: 80%;
  }
  .popular-2 img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .popular-heading{
    font-size: 15px;
    margin-left: 0%;
  }
  .book1{
    display: block;
    margin-top: 10%;
  }
  .book-1{
    width: 280px;
    margin-left: 10%;
    height: 180px;
  }
  .book-1 img{
    width: 150px;
    height: 250px;
    margin-top: 0px;
    margin-left: -63%;
    object-fit: cover;
    overflow: hidden;
  }
  .book-1 h1{
    margin-left: 25%;
  }
  .book-1-name{
    font-size: 20px;
    margin-top: -77%;
  }
  .book-1-author{
    font-size: 10px;
    padding-left: 14%;
  }
  .book-1-readnow{
    margin-left: 45%;
    width: 80px;
    font-size: 10px;
    height: 30px;
  }
  .book-1-readnowblack{
    margin-left: 45%;
    width: 80px;
    font-size: xx-small;
    height: 30px;
  }
  .popular-3{
    margin-top: 100%;
    padding-bottom: 150%;
  }
  .rate{
    margin-top: -60%;
  }
  .rating{
    margin-bottom: 0%;
  }
}
